

.content {
    margin: 0 100px;
}

/*HEADER*/

.wrapper .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper .column {
    padding: 10px 0;
}

.wrapper .column_img {
    overflow: hidden;
}

.wrapper .column_img img {
    height: 400px;
    width: 100%;
    max-width: 650px;
    object-fit: cover;
}

.wrapper .column_text {
    display: flex;
    padding-right: 100px;
    min-height: 400px;
    max-width: 800px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    align-self: flex-start;
}

.wrapper .column_text h4 {
    padding: 10px 0 10px 0;
    font-size: 30pt;
}

.wrapper .column_text p {
    padding: 20px 0 20px 0;
    font-size: 13pt;
}

.wrapper .column_text .transperent {
    background: transparent;
}

.wrapper .column_text .btn_course_start {
    margin-bottom: 20px;
    padding: 10px 20px;
    color: #0468ff;
    border: 1px solid #0468ff;
    background: transparent;
    font-size: 13pt;
    transition: all 400ms;
}

.wrapper .column_text .btn_course_start:hover {
    color: white;
    border-color: white;
    background-color: #0468ff; 
}


@media screen and (max-width: 900px) {
    .wrapper .row {
        flex-direction: column;
        margin: 0 40px;
    }
    .wrapper .row .column_img {
        order: 1;
    }
    .wrapper .row .column_text {
        order: 2;
        min-height: 250px;
        padding-right: 0;
    }
}

/* programm */

.programm_back {
    background-color: pink;
    padding-top: 10px;
}

.programm {
    padding: 60px;
    border: 1px solid black;
}

.programm_item > .header_programm > h3 {
    padding-bottom: 20px;
}

.programm_item > .content_programm {
    border-top: 1px solid black;
}

.programm_item > .content_programm > .accordion_item {
    border-bottom: 1px solid black;
}

.programm_item > .content_programm > .accordion_item > .accordion_button {
    padding: 30px 0;
    font-weight: 400;
    font-size: 35px;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    transition: all 250ms;
}

.programm_item > .content_programm > .accordion_item > .accordion_button:hover {
    background-color: #0468ff;
    color: white;
}

.programm_item > .content_programm > .accordion_item > .accordion_button:focus {
    border: 0;
}

.programm_item > .content_programm > .accordion_item > .accordion_button > span {
    padding: 0 20px;
}

.accordion_content {
    transition: display 200ms;
}


.hide {
    display: none;
}

ul {
    list-style-type: none;
}