

.content {
    margin: 0 100px;
}

/*HEADER*/

.wrapper .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper .column {
    padding: 10px 0;
}

.wrapper .column_img {
    overflow: hidden;
}

.wrapper .column_img img {
    height: 400px;
    width: 100%;
    max-width: 650px;
    object-fit: cover;
}

.wrapper .column_text {
    display: flex;
    padding-right: 100px;
    min-height: 400px;
    max-width: 800px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    align-self: flex-start;
}

.wrapper .column_text h4 {
    padding: 10px 0 10px 0;
    font-size: 30pt;
}

.wrapper .column_text p {
    padding: 20px 0 20px 0;
    font-size: 13pt;
}

.wrapper .column_text .transperent {
    background: transparent;
}

.wrapper .column_text .btn_course_start {
    margin-bottom: 20px;
}


@media screen and (max-width: 900px) {
    .content {
        margin: 0 40px;
    }
    .wrapper .row {
        flex-direction: column;
    }
    .wrapper .row .column_img {
        order: 1;
    }
    .wrapper .row .column_text {
        order: 2;
        min-height: 250px;
        padding-right: 0;
    }
}

/* programm */

.programm_back {
    background-color: pink;
    padding-top: 10px;
}

.programm {
    padding: 60px;
}

.programm_item > .header_programm > h3 {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 600;
    font-size: 45px;
}

.programm_item > .content_programm {
    border-top: 1px solid black;
}

.programm_item > .content_programm > .accordion_item {
    border-bottom: 1px solid black;
}

.programm_item > .content_programm > .accordion_item > .accordion_button {
    padding: 30px 0;
    font-weight: 400;
    font-size: 25px;
    text-align: left;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    transition: all 200ms;
}

.programm_item > .content_programm > .accordion_item > .accordion_button:hover {
    background-color: #0468ff;
    color: white;
}

.programm_item > .content_programm > .accordion_item > .accordion_button:focus {
    border: 0;
}

.programm_item > .content_programm > .accordion_item > .accordion_button > svg {
    margin: 0 20px;
    width: 34px;
    height: 34px;
    fill: black;
    transition: fill 100ms, transform 300ms;
}

.programm_item > .content_programm > .accordion_item > .accordion_button > span {
    margin: 0 20px;
}

.programm_item > .content_programm > .accordion_item > .accordion_button:hover > svg {
    fill: white;
}


.svg_rotate {
    transform: rotate(45deg);
}

.accordion_content .accordoin_sublist {
    padding: 0 50px;
}

.accordion_content .accordoin_sublist .accordion_sublist_item {
    padding: 25px;
    border-width: 0 0 2px 0;
    border-color: rgb(255, 153, 167);
    border-style: solid;
}

.accordion_content .accordoin_sublist .accordion_sublist_item:last-child {
    padding: 25px;
    border-width: 0;
}


.hide {
    display: none;
}

ul {
    list-style-type: none;
}